@import "_variables";

.cast {
    h2{
        text-align: center;
        margin: 2rem 0 0 0;
    }
    
    .cast__box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
        flex-wrap: wrap;
        .cast__box--1 {
            max-width: 15rem;
            object-fit: cover;
            object-position: center;
            margin-top: 2rem;
        
            .card-body {
                h6 {
                    color:@color_h6;
                }
            }
        
            .card-img-top {
                max-width: 15rem;
                height: auto;
                width: 100%;
        
        
            }
        }
    }

}