@use '../config/corthemes';

#footer-main {
    display: flex;
    height:30vh;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
    color: corthemes.$corQuarta;

    background-color: corthemes.$corPrimaria;

    a img {
        width: 2.5em;
    }
}

@media screen and (max-width: 768px) {
    #footer-main {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 1rem;

        a img {
            margin-bottom: 1rem;
        }

        ul {
            flex-direction: column; //alinhamento e columm
            gap: 1rem;
        }
    }
}